/* CM Editor scoped styles - matching Vue ::v-deep styles */
.cm-gutters {
  border-right-color: transparent;
  background-color: #f2f3f5 !important;
}

.cm-gutters,
.cm-content {
  padding: 16px 0;
}

.cm-gutterElement {
  background-color: transparent !important;
  height: 26px;
  margin-top: 0 !important;
}

.cm-line {
  padding: 0 16px;
}

.cm-line,
.cm-gutterElement {
  line-height: 26px;
}

.markdown-body {
  background-color: transparent;
}
